{% extends 'base.html' %}

{% block body_content %}
<main class="main-container">
	<h1 class="main-header">Welcome peer meetup</h1>
	<p class="main-subtitle">Select the general times that work for you and click submit</p>

    <table>
        <tr>
            <th></th> <!-- Empty header for the time labels column -->
            <th>Sunday</th>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
            <th>Saturday</th>
        </tr>
        <tr>
            <td class="time-label">Morning</td>
            <td><input type="checkbox" id="sunday-morning"></td>
            <td><input type="checkbox" id="monday-morning"></td>
            <td><input type="checkbox" id="tuesday-morning"></td>
            <td><input type="checkbox" id="wednesday-morning"></td>
            <td><input type="checkbox" id="thursday-morning"></td>
            <td><input type="checkbox" id="friday-morning"></td>
            <td><input type="checkbox" id="saturday-morning"></td>
        </tr>
        <tr>
            <td class="time-label">Afternoon</td>
            <td><input type="checkbox" id="sunday-afternoon"></td>
            <td><input type="checkbox" id="monday-afternoon"></td>
            <td><input type="checkbox" id="tuesday-afternoon"></td>
            <td><input type="checkbox" id="wednesday-afternoon"></td>
            <td><input type="checkbox" id="thursday-afternoon"></td>
            <td><input type="checkbox" id="friday-afternoon"></td>
            <td><input type="checkbox" id="saturday-afternoon"></td>
        </tr>
    </table>

    <div class="submit-container">
        <button type="button">Submit</button>
    </div>
</main>
</html>

{% endblock body_content %}